In [1]:
import pandas as pd
import numpy as np

### Import the dataset

In [2]:
price_df = pd.read_csv("data/ab_stock_cross_section_new.csv")
price_df = price_df.iloc[:,1:]
price_df["Trddt"] = pd.to_datetime(price_df["Trddt"])

In [3]:
price_df["valuation_differential"] = price_df["a_price"]/price_df["b_price"]

### Merge Valuation Ratio and Group Information

#### Create Group Information

In [4]:
industry_df = pd.read_csv("data/unique_id_industry_info.csv")
industry_df = industry_df.iloc[:,1:]

In [5]:
industry_df["general_ind"] = [ind[0] for ind in industry_df["Nnindcd"]]

#### Merge the dataframe

In [6]:
group = "general_ind"

In [7]:
merge_df = price_df.merge(industry_df,on=["unique_id"])

#### Calculate the index

In [8]:
valuation_ratio_df = merge_df[["Trddt",group,"valuation_differential"]]

In [9]:
speculation_df = valuation_ratio_df.groupby(["Trddt",group]).mean()

In [10]:
speculation_df_wide = speculation_df.pivot_table(values="valuation_differential",columns=group,index="Trddt")

In [11]:
speculation_df_wide.to_csv("data/industry_level_speculation_index.csv")

### Accounting Information Speculation Index

In [27]:
market_cap_df = pd.read_csv("data/market_cap_df.csv")

In [28]:
market_cap_df = market_cap_df.iloc[:,1:]

In [30]:
market_cap_df["Trddt"] = pd.to_datetime(market_cap_df["Trddt"])

In [ ]:
rebalance_time_list = pd.date_range(start="2002-01-01",end="2019-12-01",freq="BM")

In [32]:
market_cap_df_wide = market_cap_df.pivot_table(values=["market_cap"],columns=["unique_id"],index=["Trddt"])

In [35]:
market_cap_df_monthly = market_cap_df_wide.resample("BM").last()

In [40]:
rebalance_market_cap_df = market_cap_df_monthly.loc[rebalance_time_list,:]

In [45]:
rebalance_market_cap_df_long = rebalance_market_cap_df.stack()

In [53]:
index_df = rebalance_market_cap_df_long.index.to_frame()

In [55]:
index_df.columns = ["date","unique_id"]

In [58]:
index_df["market_cap"] = rebalance_market_cap_df_long["market_cap"]

In [60]:
index_df.index = range(0,index_df.shape[0])

In [61]:
index_df.groupby("date")

            date unique_id    market_cap
0     2002-01-31      id_1  8.048160e+08
1     2002-01-31     id_11  1.283757e+09
2     2002-01-31     id_12  3.016417e+08
3     2002-01-31     id_14  1.529100e+08
4     2002-01-31     id_15  3.501318e+08
...          ...       ...           ...
16013 2019-11-29     id_82  4.993838e+09
16014 2019-11-29     id_83  1.261560e+10
16015 2019-11-29     id_84  1.240215e+10
16016 2019-11-29     id_85  7.484219e+09
16017 2019-11-29      id_9  1.097815e+10

[16018 rows x 3 columns]

In [62]:
def portfolio_sort(x):
    
    x["market_cap"]

0       2002-01-31
1       2002-01-31
2       2002-01-31
3       2002-01-31
4       2002-01-31
           ...
16013   2019-11-29
16014   2019-11-29
16015   2019-11-29
16016   2019-11-29
16017   2019-11-29
Name: date, Length: 16018, dtype: datetime64[ns]